<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput [formControl]="_filter" placeholder="Enter value"/>
</mat-form-field>

@if (_periodicElementsStore.isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<table mat-table [dataSource]="_periodicElementsStore.filteredPerioticElements()">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell (click)="openEditPeriodicElement(element.id, 'position', element.position)" *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell (click)="openEditPeriodicElement(element.id, 'name', element.name)" *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell (click)="openEditPeriodicElement(element.id, 'weight', element.weight)" *matCellDef="let element">{{element.weight}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell (click)="openEditPeriodicElement(element.id, 'symbol', element.symbol)" *matCellDef="let element">{{element.symbol}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
</table>
